.fourth-container{
    margin-top: 5%;
}
.fourth-container .site-card-wrapper img{
    width: 100%;
    height: 100%;
    transition: all 0.3s ease 0s;
    /* border-radius: 20px; */
}
.fourth-container .site-card-wrapper img:hover{
    transform: scale(1.25);
}
.fourth-container .ant-card-head-title {
    font-size: 300%;
    text-align: center;
    font-family: 'The Nautigal', cursive;
    /* 'Dancing Script', cursive; */
    letter-spacing: 3.5px;
}
.fourth-container a{
color: black;
}