
.body {
    width: 100%;
}

.parallax-img {
    background-image: url("/Users/Minu/majestic/src/Assets/home3-1.jpeg");
}

.parallax { 
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50%;
}

.third-container {
    height: 550px;
}
.third-container .hey h1{
    font-family: 'DM Serif Display', serif;
        text-align: center;
        font-weight: 50;
        font-size: 250%;
        letter-spacing: 0.04em;
        color: white;
        line-height: 130px;
        padding-top: 5%;
        
}

.third-container .hey .majestic2{
    font-family: 'The Nautigal', cursive;
    font-weight: 500;
        font-size: 1000%;
        line-height: 50px;
        opacity: 0.8;
}

.third-container .hey .majestic2:hover{
    opacity: 1.0;
    transition: all 0s linear 0s;
}



/* ---- Card CSS ---- */

.card-container {
    margin: 5%;
    align-content: center;
   }

   .card-container .custom-card {
       border-radius: 50%; 
       margin: 0.5%;
       transition: all 0.3s ease 0s;
      }
   
  .card-container .custom-card:hover{
       transform: scale(1.25);
   }
   
.card-container img{
       border-radius: 50%;
   }
   
   
.float{
       /* float: right; */
       display: flex !important;
       justify-content: right;
   }
   
.card-container h3{
       font-family: 'Dancing Script', cursive;
       letter-spacing: 2px;
       word-spacing: 2px;
   }

   .card-container H1{
    font-family: 'DM Serif Display', serif;
    display: inline;
      color: black;
      letter-spacing: 0.02em;
      font-size: 400%;
      text-align: right;
      font-weight: 400;
      text-align: center;
   }
   
   .card-container .description h1 h2{
    line-height: 2;
   }

  